---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products.astro';
import WhyMarin from '../components/WhyMarin.astro';
import OrderSteps from '../components/OrderSteps.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
---

<Layout
  title="Tôles acier sur mesure pour la couverture et le bardage | Marin Profils"
  description="Découvrez les tôles imitation tuile, bacs acier de couverture, bardages acier sur mesure fabriqués en Dordogne par Marin Profils pour les professionnels."
>

  <!-- HERO -->
  <section class="page-hero">
    <div class="container">

      <span class="eyebrow" style="color:white">
        Gamme professionnelle
      </span>

      <h1 class="title">
        Tôles acier sur mesure pour la couverture et le bardage
      </h1>

      <p class="lead">
       Marin Profils fabrique en Dordogne des tôles imitation tuile, des bacs
        acier de couverture, des bardages acier et propose les accessoires nécessaires
        à leur pose. Notre offre est exclusivement destinée aux professionnels
        du bâtiment, de l’industrie, de l’agriculture et aux négoces.
      </p>

    </div>
  </section>

  <!-- INTRO -->
  <section class="section">
    <div class="container">

      <span class="eyebrow">
        Nos solutions acier
      </span>

      <h2 class="title">
        Une gamme complète pour vos projets de toiture et de façade
      </h2>

      <div class="products-introduction-content">
      <p class="lead">
             Chaque chantier présente des contraintes différentes en matière de
          dimensions, de finition, de coloris et de mise en œuvre. Nous
          fabriquons donc nos profils acier à la longueur demandée afin de
          réduire les découpes, les chutes de matière et le temps de pose.
        </p>

        <p>
          Notre gamme permet de répondre aux besoins des bâtiments agricoles,
          industriels, artisanaux, commerciaux et résidentiels. Les tôles
          peuvent être complétées par les faîtages, rives, closoirs, visseries,
          cavaliers et pièces de finition adaptés au projet.
      </p>
       </div>
    </div>
  </section>

  <Products />

  <WhyMarin />

 <OrderSteps />

  <FAQ />

  <CTA />

</Layout>
